### Подготовка данных к анализу : 
    1. Собрать csv файлы из папки data в единый датафрэйм
    2. Определить и заполнить пропущенные значения
    3. Удалить дубликаты
    4. Просмотреть типы данных колонок и привести к необходимому типу
    5. переименуем столбцы для удобства понимания их значений
    6. Получим общую информацию всех переменных в дф

In [55]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None  #отключаем предупреждения Pandas

#### 1. Собрать csv файлы из папки data в единый датафрэйм

In [23]:
os.listdir('/Users/v.obrosova/Documents/СТАТИСТИКА/csv/data')#проверка отображения

['.DS_Store',
 '2020-12-06',
 '2020-12-08',
 '2020-12-09',
 '2020-12-07',
 '2020-12-05',
 '2020-12-03',
 '2020-12-04']

In [24]:
path = '/Users/v.obrosova/Documents/СТАТИСТИКА/csv/data'#запишем путь в переменную

In [25]:
#создали дф
df = pd.DataFrame()

#читаем данные и записсываем в пустой дф
for current_path, dirs, files in os.walk(path + '/2020-12-05'):
    for file in files:
        data_path = f'{current_path}/{file}'
        
        if '.DS_Store' in data_path:
            continue 
        
        temp_df = pd.read_csv(data_path) 
        df = pd.concat((df, temp_df))
        print(df.shape) #контроль

(4, 3)
(6, 3)
(11, 3)
(14, 3)
(20, 3)
(23, 3)

In [26]:
#нужно достать дату и имя для названия колонок.режем строку по слэшу /
path_parts = '/Users/v.obrosova/Desktop/курс по аналитике/1_PYTHON/Урок_4/Задания/Минипроект/data/2020-12-04/Kirill_Fedorov'.split('/')
date = path_parts[-2]
name = path_parts[-1]
date,name

('2020-12-04', 'Kirill_Fedorov')

In [27]:
#выше мы считывали из определенной папки, а теперь уберем имя папки и считаем все файлы из data

df = pd.DataFrame()

#читаем данные 
for current_path, dirs, files in os.walk(path):
    for file in files:
        #полный путь к файлу
        data_path = f'{current_path}/{file}'
        
        if '.DS_Store' in data_path:
            continue 
        #читаем data
        temp_df = pd.read_csv(data_path) 
        
        #создаем колонки дата и время,вытаскиваем инфу для них из названия файлов через сплит
        path_parts = current_path.split('/')
        date = path_parts[-2]
        name = path_parts[-1]
        
        #добавляем колонки
        temp_df['date'] = date
        temp_df['name'] = name
        
        #обьединяем датафреймы
        df = pd.concat((df, temp_df))

In [28]:
df.drop(columns=['Unnamed: 0'],inplace = True) #удалим лишние колонки

In [29]:
df.reset_index(drop=True, inplace = True) #удалим индекс

In [30]:
 df.head()

   product_id  quantity        date             name
0          56         4  2020-12-06  Vasiliy_Fedorov
1          97         3  2020-12-06  Vasiliy_Fedorov
2          79         3  2020-12-06  Vasiliy_Fedorov
3          29         5  2020-12-06  Vasiliy_Fedorov
4          73         5  2020-12-08   Alexey_Fedorov

#### 2. Определить и заполнить пропущенные значения

In [19]:
df.isna().sum()#пропущенных значений не обнаружено

Unnamed: 0    0
product_id    0
quantity      0
dtype: int64

#### 3. Удалить дубликаты

In [32]:
#контроль значений перед удалением дубликатов
df.shape

(161, 4)

In [39]:
#дубликатов не обнаружено тк число строк совпадает с исходной
df.drop_duplicates().shape

(161, 4)

#### 4. Просмотреть типы данных колонок и привести к необходимому типу

In [41]:
#приведеме столбец 'date' к типу datetime
df.dtypes

product_id     int64
quantity       int64
date          object
name          object
dtype: object

In [58]:
df['date'] = df['date'].astype('datetime64')
df.dtypes

/var/folders/09/fnjbrzns3kbd7t2970nr6clc0000gn/T/ipykernel_27229/3364299853.py:1: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  df['date'] = df['date'].astype('datetime64')

product_id             int64
quantity               int64
date          datetime64[ns]
name                  object
dtype: object

In [49]:
df.head()

   product_id  quantity       date             name
0          56         4 2020-12-06  Vasiliy_Fedorov
1          97         3 2020-12-06  Vasiliy_Fedorov
2          79         3 2020-12-06  Vasiliy_Fedorov
3          29         5 2020-12-06  Vasiliy_Fedorov
4          73         5 2020-12-08   Alexey_Fedorov

#### 5. переименуем столбцы для удобства понимания их значений

In [64]:
df.rename(columns = {'product_id':'id_продукта',
                    'quantity':'количество',
                    'date':'дата',
                    'name':'имя'})

     id_продукта  количество       дата              имя
0             56           4 2020-12-06  Vasiliy_Fedorov
1             97           3 2020-12-06  Vasiliy_Fedorov
2             79           3 2020-12-06  Vasiliy_Fedorov
3             29           5 2020-12-06  Vasiliy_Fedorov
4             73           5 2020-12-08   Alexey_Fedorov
..           ...         ...        ...              ...
156            3           4 2020-12-04   Kirill_Fedorov
157           89           5 2020-12-04   Kirill_Fedorov
158           75           2 2020-12-04   Kirill_Fedorov
159           41           5 2020-12-04   Kirill_Fedorov
160           32           4 2020-12-04   Kirill_Fedorov

[161 rows x 4 columns]

#### 6. Получим общую информацию всех переменных в дф

In [65]:
df.describe()

       product_id    quantity
count  161.000000  161.000000
mean    47.832298    2.981366
std     29.124997    1.407445
min      0.000000    1.000000
25%     23.000000    2.000000
50%     44.000000    3.000000
75%     74.000000    4.000000
max     99.000000    5.000000